
body {
  margin: 0;
  font-weight: 10;
  font-family: 'Catamaran', sans-serif;
  /*-webkit-font-smoothing: antialiased;*/
  font-size: 14px;
  color: dimgray;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: darkgray;
  transition: all .3s;
}

a:hover {
  text-decoration: none;
  color: rosybrown;
  transition: all .3s;
}

h2, h3, h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
}

h4, h5, h6 {
  color: dimgray;
  font-size: 14px;
}

.section-title {
  color: dimgray;
  padding-top: 80px;
  padding-bottom: 10px;
  text-align: center;
}

.section-title h3 {
  padding-top: 50px;
  margin: 10px 0;
  font-size: 32px;
  font-weight: 300;
  line-height: 36px;
}

/*-------  ここまで共通のCSS（変更不要） --------*/

/* header */
header {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: whitesmoke;
  line-height: 50px;
  z-index: 10;
}

.header-title {
  float: right;
  text-decoration: none;
}

.header-title a {
  text-decoration: none;
  color: dimgray;
  font-weight: 400;
  font-size: 22px;
  font-family: 'Catamaran', sans-serif;
}

.header-title a:hover {
  text-decoration: none;
  color: dimgray;
  font-weight: 400;
  font-size: 22px;
  font-family: 'Catamaran', sans-serif;
}

.header-menu-left {
  float: left;
}

.header-menu-left li {
  float: left;
}

.header-menu-left a {
  text-decoration: none;
  font-weight: 200;
  color: dimgray;
  line-height: 29px;
  padding: 10px;
}

.header-menu-left a:hover {
  text-decoration: none;
  color: rosybrown;
  transition: all .3s;
}

.header-menu-sns {
  float: left;
}

.header-menu-sns li {
  float: left;
  text-decoration: none;
}

.header-menu-sns a {
  color: dimgray;
  line-height: 10px;
  padding: 10px;
}

.header-menu-sns a:hover {
  text-decoration: none;
  color: rosybrown;
  transition: all .3s;
}

.header-menu-sns .fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
}

/* top content */
.top-section {
  margin: 0 auto;
  text-align: center;
  color: whitesmoke;
  height: 800px;
  background-image: url("https://lh3.googleusercontent.com/zf0ZEgRdqCePWlYWSLjRBwVcgzLwSawIw8EMwHddw98PBwd02aHJCvgs0-SmdHFl1SCQqpPyv6UyCR7PM8wgVW-PxEdML0keXR1jTL9y0OIOvfE9lluEKb8qehPxJUm2Cs_NxLRn6j7s_oSzjV0UlZ2imNNW-OfG0RWIXRb7txhLzBQi-VI7ynRZN1lZATPeYgjDacyjEXxfAInDSQsvR0KA3_eYcAHKWwzcHIVyuYEuXnft2GzxJ5BLFOWsNUvFKGIMEYmL2Ra33EkQirDZ8phXMHGv2ZfUcL3uAQgWXJMnNcvRllkUxQHQXHxY9UdcYe1wjzbWzGULxNrLiWxlllV9HxTSu0OF92nu48GfH7YgcwRMpzpBdGqEhN-ych_Mit-nXqmsqOd0hk2fIAPtHS6S_kkmLjnRKUpKa3PyGaP9CObbisprM5Pc1BMnLE975FTa1VgBTvJJKONNJAgLVDO65Kyd2Tg8pzGM3Aukqtouu86RX5-UG-KH2Nrcyry8gYW5IaT-eCGOrpI6fyMsuGRh6IToKdR743trfHJ24OYD9NsszOLlSSedgQDbyAQAT-xYuWNDg4P5q3fWa_5VvBg49p5jlXI=w2046-h1410-no");
  background-size: cover;
}

/* about */
.about-section {
  padding-bottom: 60px;
  color: dimgray;
  text-align: center;
  height: 100%;
  background-color: whitesmoke;
}

.about-box-wrapper {
  width: 80%;
  margin: 0 auto;
}

.about-box {
  display: inline-block;
  vertical-align: top;
  width: 38%;
  padding: 20px;
}

.about-box p {
  display: none;
}

.about-content {
  height: 80px;
}

.about-icon img {
  max-height: 400px;
  padding-top: 30px;
  padding-bottom: 40px;
  padding-right: 30px;
  margin-left: 123px;
  float: left;
}

.profile {
  color: gray;
  padding-top: 20px;
  width: 600px;
  margin-left: auto;
}

.profile h5 {
  font-size: 14px;
  color: gray;
  padding-bottom: 8px;
  margin-right: auto;
  width: 270px;
}

.profile h6 {
  text-align: left;
  font-size: 12px;
  color: gray;
}

.profile ul {
  text-align: left;
  font-size: 12px;
}

.btn {
  display: inline-block;
  padding: 7px 20px;
  margin-top: 15px;
  font-weight: 200;
  font-family: 'Catamaran', sans-serif;
  font-size: 15px;
  cursor: pointer;
  transition: all .3s;
  border-radius: 4px;
}

.btn-lg {
  line-height: 1.3333333;
  border-radius: 6px;
}

.btn-top-white {
  background: rosybrown;
  border: 1px solid rgba(250, 250, 250, 0.15);
  color: whitesmoke;
  box-shadow: box-shadow: 0 0px 12px rgba(250, 250, 250, 0.15);
}

.btn-top-white:hover {
  background: whitesmoke;
  border: 1px solid rgba(250, 250, 250, 0.8);
  color: dimgray !important;
  box-shadow: 0 1px 3px whitesmoke;
}

.btn .active {
  background-image: none;
  outline: 0;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.more-btn {
  margin-left: auto;
  margin-right: auto;
  width: 77px;
}

#more-text {
  display: none;
  text-align: left;
  padding-left: 17%;
  padding-right: 15%;
  padding-top: 40px;
  padding-bottom: 20px;
  font-family: 'Catamaran', sans-serif;
  font-size: 12px;
  color: gray;
}

iframe {
  padding-left: 16%;
}


/* --skills-- */
.skills-section {
  text-align: center;
  padding-bottom: 30px;
  height: 700px;
  background: whitesmoke;
}

#skills > .container {
  width: 936px;
}

.skills-box {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 80px;
  padding-top: 40px;
}

.skills-image {
  width: 200px;
  height: 200px;
  margin: 10px 0;
  padding: 0px;
  border-radius: 150px;
}

#skills-carousel img {
  display: inline-block;
}

#skills-carousel li {
  background-color: dimgray;
}

.carousel-indicators {
  z-index: 5;
}

.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* works */
.works-section {
  padding-bottom: 60px;
  color: dimgray;
  text-align: center;
  height: 710px;
  background: whitesmoke;
}

.works-box-wrapper {
  width: 80%;
  margin: 0 auto;
}

.works-box {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 80px;
  padding-top: 40px;
}

.works-content h4 {
  margin-top: 35px;
  text-align: center;
}

.works-content p {
  color: gray;
  font-size: 12px;
  text-align: center;
}

.works-content {
  height: 80px;

}

.icon img {
  width: 200px;
  height: 200px;
  margin: 10px 0;
  padding: 0px;
  border-radius: 150px;
  text-align: center;
  cursor: pointer;
}

/* contact */
.contact-section {
  background: url("https://scontent-nrt1-1.xx.fbcdn.net/t31.0-8/462882_293937340671716_1570544132_o.jpg");
  background-size: cover;
  color: seashell;
}

.contact-section-inner {
  background-color: rgba(0, 0, 0, 0.6);
  padding-bottom: 70px;
}

.contact-form {
  display: inline-block;
  vertical-align: top;
  width: 58%;
}

.contact-section h3, .contact-section h4 {
  color: seashell;
  font-weight: 100;
}

.contact-section h4 {
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.contact-form input[type="text"], .contact-form textarea {
  margin: 0;
  padding: 0 10px;
  vertical-align: middle;
  background: rgba(250, 250, 250, 0.08);
  border: none;
  width: 85%;
  color: seashell;
  font-family: 'Catamaran', sans-serif;
  font-size: 16px;
  font-weight: 100;
  border-radius: 0;
  box-shadow: none;
  transition: all .3s;
  margin-bottom: 20px;
  padding: 15px;
}

textarea {
  height: 150px;
}

.contact-form {
  display: inline-block;
  vertical-align: top;
  width: 58%;
}

.btn-contact {
  font-family: 'Catamaran', sans-serif;
  font-size: 15px;
  font-weight: 100;
  background: gray;
  color: seashell;
  transition: all .3s;
  margin: 10px 0;
  padding: 15px 35px;
}

.contact-about {
  display: inline-block;
  vertical-align: top;
  width: 40%;
}

.contact-about i {
  padding-right: 15px;
  font-size: 18px;
}

.contact-about p {
  margin: 0 0 24px;
  line-height: 24px;
}

.error-message {
  color: tomato;
  height: 20px;
}

/* Social */
.social-section {
  text-align: center;
  padding-bottom: 50px;
  background: whitesmoke;
}

.social-section h3 {
  font-weight: 100;
  font-size: 20px;
}

.social-icon {
  text-align: center;
  font-size: 30px;
  line-height: 76px;
  color: dimgray;
  padding: 5px;
  transition: all .3s;
}

.social-section .fa {
  text-decoration: none;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
}

.section-title-followme {
  color: dimgray;
  padding-top: 60px;
  padding-bottom: 5px;
  text-align: center;
}

.section-title-followme h3 {
  font-size: 32px;
}

/* --Footer-- */
footer {
  text-align: center;
  padding-top: 20px;
  color: dimgray;
  background: whitesmoke;
  padding-bottom: 20px;
}